.title {
    text-align: center;
    font-size: 75px;
    width: 100%;
    border-bottom: 4px solid black;
    height: 100px;
    padding-top: 15px;
    background-color:
    black;
}

.title-text {
    font-weight: bolder;
    color: #1b2e3d;
    text-shadow: 
    #9cf2ff 3px 3px 4px;

}