.title {
    text-align: center;
    font-size: 75px;
    width: 100%;
    border-bottom: 4px solid black;
    height: 100px;
    padding-top: 15px;
    background-color: #1E2639;
}

.title-text {
    font-weight: bolder;
    color: #B9BEBA;
    text-shadow: #C72523 3px 3px 4px;

}