.card {
    background: #fff;
    border: 3px solid #7B6FDE;
    height: 325px;
    margin: 1rem;
    position: relative;
    width: 43%;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
    float: left;
  }

  .card > .img-container {
    height: 60%;
    width: 100%;
    overflow: hidden;
    text-align: center;
    background-image: url("./Avengers.jpg");
  }
  .card > .img-container > img {
    width: 30%;
  }

  .card-body {
      border-top: #0B0930 5px solid;
      background: #2C2A89;
      color: #7B6FDE;
  }

  .card-title {
      text-align: center;
      text-shadow:#0B0930 2px 2px 4px;
  }

  .dbBTN {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    background-color: #0B0930;
    border-color: #7B6FDE;
    color: #7B6FDE;
    text-shadow: 1px 1px 3px #999;

  }

  .smBTN{
    display:none;
  }

  @media only screen and (max-width: 696px) {
     .card-name {
       display:none;
     }
     .card-strength {
       display: none;
     }

     .card {
       height: 200px;
       width: 100%;
       margin: 0 auto;
     }
     .dbBTN{
       font-size: 10px;
     }
     .card-title{
       font-size: 18px;
     }
}

@media only screen and (max-width: 527px){
  .lgBTN {
    display: none;
  }
  .smBTN {
    display: block;
    width: 100%;
    margin-left: 5%;
  }

  .card-title {
    font-size:16px;
  }

  .card > .img-container > img {
    margin: 25px;
  }
}

@media only screen and (max-width: 395px){
  .card-title {
    display: none;
  }
  .smBTN {
    font-size: 5px;
    margin: 2px;
  }
  .card{
    height: 150px;
    width: 200px;
  }
}

@media only screen and (max-width: 285px){
  .card{
    width: 75px;
  }

}


  